Redirect 301 /pages/backend-developer.html /pages/careers.html
Redirect 301 /pages/backend-lead.html /pages/careers.html
Redirect 301 /pages/business-development-lead.html /pages/careers.html
Redirect 301 /pages/ios-developer.html /pages/careers.html
Redirect 301 /pages/chief-marketing-officer.html /pages/careers.html
Redirect 301 /pages/senior-backend-engineer.html /pages/careers.html
Redirect 301 /pages/ui-ux-designer.html /pages/careers.html
Redirect 301 /pages/director-product-management.html /pages/careers.html
Redirect 301 /pages/founding-account-executive.html /pages/careers.html
Redirect 301 /pages/vp-engineering.html /pages/careers.html
Redirect 301 /pages/lead-ios-engineer.html /pages/careers.html
Redirect 301 /pages/senior-ios-engineer.html /pages/careers.html
Redirect 301 /pages/senior-product-manager.html /pages/careers.html
Redirect 301 /pages/qa-engineer.html /pages/careers.html
Redirect 301 /pages/sr-software-engineer.html /pages/careers.html
Redirect 301 /pages/marketing-manager.html /pages/careers.html
Redirect 301 /pages/lead-backend-engineer.html /pages/careers.html
Redirect 301 /pages/newsletter.html /
Redirect 301 /pages/world-cup-22-giveaway-rules.html /
Redirect 301 /pages/ambassadors.html /
Redirect 301 /pages/loyaltyprogram.html /
Redirect 301 /pages/rewards.html /
Redirect 301 /pages/rewards-states.html /
Redirect 301 /pages/rewards-redeem-error.html /
Redirect 301 /pages/rewards-redeem-success-bucks.html /
Redirect 301 /pages/rewards-redeem-success-merch.html /
Redirect 301 /pages/ourstory.html /
Redirect 301 /pages/solutions.html /pages/product-overview.html