#anchors-nav{
    width: 100%;
    background-color: $black;
    padding: 10px 0;
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 77px;
    z-index: 9;
    &.is-product,
    &.is-product.fixed{
        top: 0;
    }
    .about-nav-items{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        a{
            color: $light;
            font-size: 15px;
            opacity: .3;
            .flag{
                display: inline-block;
                width: 15px;
                height: 15px;
                background-image: url(../../images/about/images/flag-nav.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 5px;
                transition: all .3s ease-in-out;
                opacity: 0;
            }
            &:hover,
            &.active{
                text-decoration: none;
                color: $yellow;
                opacity: 1;
                .flag{
                    opacity: 1;
                }
            }
        }
    }
    &.fixed{
        // top: 56px;
    }
    @media (max-width: 991px){
        top: 58px;
        .about-nav-items{
            gap: 10px;
            a{
                font-size: 12px;
                .flag{
                    width: 10px;
                    height: 10px;
                }
            }
        }
        &.fixed{
            top: 58px;
        }
    }
    @media (max-width: 575px){
        top: 50px;
        .about-nav-items{
            gap: 5px;
            justify-content: space-between;
            a{
                .flag{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        &.fixed{
            top: 50px;
        }
    }
    @media (max-width: 425px){
        .about-nav-items{
            a{
                font-size: 9px;
            }
        }
    }
}
#hero-about{
    padding: 150px 0 120px;
    background-color: $black;
    .hero-about-content{
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        h1{
            margin-top: 30px;
            color: $light;
            text-align: center;
        }
    }
    @media (max-width: 991px){

    }
    @media (max-width: 767px){

    }
    @media (max-width: 575px){

    }
    @media (max-width: 425px){
    }
}

#values{
    padding: 100px 0 150px;
    background-color: $lightblue;
    .top-area{
        margin-bottom: 80px;
        h6{
            text-align: center;
        }
    }
    .our-values-cards{
        position: relative;
        .image-our-values{
            max-width: 973px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                filter: drop-shadow(10px 20px 25px rgba(0, 0, 0, 0.10));
            }
            h5{
                position: absolute;
                color: $light;
            }
        }
        .cards-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1000px;
            margin: 0 auto;
            .card-col{
                width: 50%;
                max-width: 300px;
                .card-values{
                    min-height: 140px;
                    padding: 25px;
                    margin: 30px 0;
                    position: relative;
                    border-radius: 6px;
                    background: #FFF;
                    box-shadow: 0 0 35px rgba(0, 0, 0, 0.10);
                    overflow: hidden;
                    h5{
                        text-align: left;
                        color: $black;
                        margin-bottom: 0;
                    }
                    .number-values{
                        background-color: $yellow;
                        font-size: 25px;
                        font-weight: 500;
                        color: $black;
                        position: absolute;
                        bottom: -80px;
                        right: -80px;
                        width: 160px;
                        height: 160px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-right: 60px;
                        padding-bottom: 60px;
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .our-values-cards{
            .image-our-values{
                position: static;
                transform: none;
                max-width: 500px;
                margin: 0 auto;
            }
            .cards-container{
                margin-top: -100px;
                justify-content: center;
                gap: 15px;
                .card-col{
                    max-width: 250px;
                    .card-values{
                        min-height: 135px;
                        padding: 20px;
                        margin: 15px 0;
                        .number-values{
                            bottom: -60px;
                            right: -60px;
                            width: 120px;
                            height: 120px;
                            padding-right: 40px;
                            padding-bottom: 50px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 575px){
        .our-values-cards{
            .cards-container{
                .card-col{
                    .card-values{
                        padding: 15px;
                        min-height: 90px;
                        .number-values{
                            bottom: -50px;
                            right: -50px;
                            width: 100px;
                            height: 100px;
                            padding-right: 30px;
                            padding-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 425px){
        padding: 80px 0 50px;
        .top-area{
            margin-bottom: 40px;
        }
        .our-values-cards{
            .cards-container{
                gap: 10px;
                .card-col{
                    .card-values{
                        min-height: 105px;
                        margin: 10px 0;
                        .number-values{
                            font-size: 20px;
                            bottom: -40px;
                            right: -40px;
                            width: 80px;
                            height: 80px;
                            padding-right: 25px;
                            padding-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

#the-team{
    padding: 100px 0 70px;
    background-color: $light;
    .top-area{
        margin-bottom: 50px;
        text-align: center;
    }
    .mobile-slide{
        display: none;
        .custom_paging{
            padding: 0;
            margin: 30px 0 0;
            list-style-type: none;
            li{
                display: none;
                text-align: center;
                color: rgba(0, 0, 0, 0.40);
                font-size: 14px;
                font-weight: 800;
                line-height: 34px;
                text-transform: uppercase;
                span{
                    color: $black;
                }
                &.slick-active{
                    display: block;
                }
            }
        }
    }
    .pulse-card{
        max-width: 345px;
        border-radius: 15px;
        margin: 0 auto 50px;
        box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
        &.active{
            animation: pulseCard 1.5s 2 forwards .2s;
        }
    }
    .team-card{
        position: relative;
        min-height: 483px;
        max-width: 345px;
        margin: 0 auto 50px;
        cursor: pointer;
        box-shadow: none;
        border-radius: 15px;
        overflow: hidden;
        pointer-events: none;
        &.visible-card{
            pointer-events: auto;
        }
        .front-card,
        .back-card {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform 1s;
            backface-visibility: hidden;
            transform-style: preserve-3d;
        }
        .back-card{
            transform: rotateY(180deg);
            border-radius: 15px;
        }
        &.active{
            .front-card{
                transform: rotateY(180deg);
            }
            .back-card{
                transform: rotateY(360deg);
            }
        }
    }
    @media (max-width: 1200px){
        .team-card{
            min-height: 405px;
        }
    }
    @media (max-width: 991px){
        .team-card{
            min-height: 294px;
            margin-bottom: 25px;
        }
    }
    @media (max-width: 767px){
        .team-grid-desktop{
            display: none;
        }
        .mobile-slide{
            display: block;
        }
        .top-area{
            img{
                left: 0px;
            }
        }
        .team-card{
            min-height: 483px;
            pointer-events: auto;
        }
    }
    @media (max-width: 575px){
        .team-card{
            min-height: 430px;
            margin: 0 10px;
        }
    }
    @media (max-width: 425px){
        padding: 80px 0 50px;
        .top-area{
            img{
                max-width: 100px;
                left: 20px;
                bottom: -40px;
            }
        }
        .mobile-slide{
            .col-12{
                padding-right: 0;
                padding-left: 0;
            }
        }
        .team-card{
            min-height: 100vw;
        }
    }
}

#investors{
    padding: 100px 0;
    background-color: $black;
    background-color: $lightblue;
    .top-area{
        margin-bottom: 50px;
        text-align: center;
    }
    .investors-grid{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2px;
        .investor-item{
            max-width: 292px;
            position: relative;
            .investor-data{
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 8px 0;
                background: rgba(0, 0, 0, 0.70);
                text-align: center;
                p{
                    color: $light;
                    margin: 0;
                    span{
                        color: $yellow;
                    }
                }
            }
        }
    }
    @media (max-width: 1200px){
        .investors-grid{
            .investor-item{
                max-width: 230px;
                .investor-data{
                    p{
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .investors-grid{
            .investor-item{
                max-width: 171px;
            }
        }
    }
    @media (max-width: 767px){
        .investors-grid{
            justify-content: center;
            .investor-item{
                width: 49%;
                max-width: 49%;
            }
        }
    }
    @media (max-width: 425px){
        padding: 60px 0 50px;
        .investors-grid{
            .investor-item{
                .investor-data{
                    p{
                        max-width: 120px;
                        line-height: 14px;
                        margin: 0 auto; 
                    }
                }
            }
        }
    }
}

#our-advisors{
    padding: 100px 0;
    background-color:$light;
    position: relative;
    .top-area{
        text-align: center;
    }
    .carousel{
        .carousel-inner{
            overflow: initial;
            .carousel-item{
                .box-content-slide{
                    display: flex;
                    align-items: center;
                    min-height: 580px;
                    .content-left{
                        width: 40%;
                        text-align: left;
                        h3{
                            text-align: left;
                        }
                        p{
                            color: $black;
                            min-height: 120px;
                        }
                    }
                    .image-slider{
                        position: relative;
                        overflow: hidden;
                        width: 60%;
                        min-height: 575px;
                        img{
                            width: 850px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: .9;
                        }
                        &::before,
                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: 1;
                            background: radial-gradient(circle, rgba(0,0,0,0) 15%, $light 100%);
                        }
                        &::before{
                            background: 
                            linear-gradient(0deg, $light 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, $light 100%),
                            linear-gradient(270deg, $light 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, $light 100%);
                        }
                    }
                }
            }
        }
        .arrows-navigation{
            .carousel-indicators{
                justify-content: flex-start;
                bottom: 90px;
                margin: 0;
                z-index: 1;
                li{
                    text-indent: 0;
                    transition: all .2s ease-in-out;
                    opacity: .5;
                    width: 80px;
                    height: auto;
                    margin-right: 15px;
                    &::after{
                        height: 3px;
                        width: 100%;
                        background-color: $black;
                        transition: all .2s ease-in-out;
                        opacity: 0;
                    }
                    &:hover,
                    &.active{
                        opacity: 1;
                        &::after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .box-content-slide{
                        flex-wrap: wrap;
                        min-height: 500px;
                        .content-left{
                            width: 100%;
                        }
                        .image-slider{
                            width: 100%;
                            order: -1;
                        }
                    }
                }
            }
            .arrows-navigation{
                .carousel-indicators{
                    margin-top: 5px;
                    position: static;
                }
            }
        }
    }
    @media (max-width: 575px){
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .box-content-slide{
                        .image-slider{
                            min-height: 300px;
                            img{
                                width: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 425px){
        padding: 80px 0 50px;
    }
}

#careers{
    padding: 100px 0;
    background-color: $lightblue;
    .top-area{
        text-align: center;
        p{
            color: $black;
        }
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    @media (max-width: 425px){
        padding: 80px 0 50px;
    }
}

#join-us{
    padding: 150px 0 150px;
    background-color: $black;
    background-image: url(../../images/about/energy-bg-black.jpg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #000000 0%, #00000000 100%);
    }
    .content-cta{
        text-align: center;
        position: relative;
        z-index: 1;
        img{
            max-width: 80px;
            margin-bottom: 30px;
        }
        h4{
            margin-bottom: 30px;
        }
    }
    @media (max-width: 575px){
        padding: 100px 0 150px;
        background-size: cover;
    }
}