#hero-about{
    padding: 150px 0 120px;
    background-color: $black;
    .hero-about-content{
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        h1{
            margin-top: 30px;
            color: $light;
            text-align: center;
        }
    }
    @media (max-width: 991px){

    }
    @media (max-width: 767px){

    }
    @media (max-width: 575px){

    }
    @media (max-width: 425px){
    }
}

#values{
    padding: 100px 0 150px;
    background-color: $lightblue;
    .top-area{
        margin-bottom: 80px;
        h6{
            text-align: center;
        }
    }
    .our-values-cards{
        position: relative;
        .image-our-values{
            max-width: 973px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                filter: drop-shadow(10px 20px 25px rgba(0, 0, 0, 0.10));
            }
            h5{
                position: absolute;
                color: $light;
            }
        }
        .cards-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1000px;
            margin: 0 auto;
            .card-col{
                width: 50%;
                max-width: 300px;
                .card-values{
                    min-height: 140px;
                    padding: 25px;
                    margin: 30px 0;
                    position: relative;
                    border-radius: 6px;
                    background: #FFF;
                    box-shadow: 0 0 35px rgba(0, 0, 0, 0.10);
                    overflow: hidden;
                    h5{
                        text-align: left;
                        color: $black;
                        margin-bottom: 0;
                    }
                    .number-values{
                        background-color: $yellow;
                        font-size: 25px;
                        font-weight: 500;
                        color: $black;
                        position: absolute;
                        bottom: -80px;
                        right: -80px;
                        width: 160px;
                        height: 160px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-right: 60px;
                        padding-bottom: 60px;
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .our-values-cards{
            .image-our-values{
                position: static;
                transform: none;
                max-width: 500px;
                margin: 0 auto;
            }
            .cards-container{
                margin-top: -100px;
                justify-content: center;
                gap: 15px;
                .card-col{
                    max-width: 250px;
                    .card-values{
                        min-height: 135px;
                        padding: 20px;
                        margin: 15px 0;
                        .number-values{
                            bottom: -60px;
                            right: -60px;
                            width: 120px;
                            height: 120px;
                            padding-right: 40px;
                            padding-bottom: 50px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 575px){
        .our-values-cards{
            .cards-container{
                .card-col{
                    .card-values{
                        padding: 15px;
                        min-height: 90px;
                        .number-values{
                            bottom: -50px;
                            right: -50px;
                            width: 100px;
                            height: 100px;
                            padding-right: 30px;
                            padding-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 425px){
        padding: 80px 0 50px;
        .top-area{
            margin-bottom: 40px;
        }
        .our-values-cards{
            .cards-container{
                gap: 10px;
                .card-col{
                    .card-values{
                        min-height: 105px;
                        margin: 10px 0;
                        .number-values{
                            font-size: 20px;
                            bottom: -40px;
                            right: -40px;
                            width: 80px;
                            height: 80px;
                            padding-right: 25px;
                            padding-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

#the-team{
    padding: 100px 0 70px;
    background-color: $light;
    .top-area{
        margin-bottom: 50px;
        text-align: center;
    }
    .mobile-slide{
        display: none;
        .custom_paging{
            padding: 0;
            margin: 30px 0 0;
            list-style-type: none;
            li{
                display: none;
                text-align: center;
                color: rgba(0, 0, 0, 0.40);
                font-size: 14px;
                font-weight: 800;
                line-height: 34px;
                text-transform: uppercase;
                span{
                    color: $black;
                }
                &.slick-active{
                    display: block;
                }
            }
        }
    }
    .pulse-card{
        max-width: 345px;
        border-radius: 15px;
        margin: 0 auto 50px;
        box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
        &.active{
            animation: pulseCard 1.5s 2 forwards .2s;
        }
    }
    .team-card{
        position: relative;
        min-height: 483px;
        max-width: 345px;
        margin: 0 auto 50px;
        cursor: pointer;
        box-shadow: none;
        border-radius: 15px;
        overflow: hidden;
        pointer-events: none;
        &.visible-card{
            pointer-events: auto;
        }
        .front-card,
        .back-card {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform 1s;
            backface-visibility: hidden;
            transform-style: preserve-3d;
        }
        .back-card{
            transform: rotateY(180deg);
            border-radius: 15px;
        }
        &.active{
            .front-card{
                transform: rotateY(180deg);
            }
            .back-card{
                transform: rotateY(360deg);
            }
        }
    }
    @media (max-width: 1200px){
        .team-card{
            min-height: 405px;
        }
    }
    @media (max-width: 991px){
        .team-card{
            min-height: 294px;
            margin-bottom: 25px;
        }
    }
    @media (max-width: 767px){
        .team-grid-desktop{
            display: none;
        }
        .mobile-slide{
            display: block;
        }
        .top-area{
            img{
                left: 0px;
            }
        }
        .team-card{
            min-height: 483px;
            pointer-events: auto;
        }
    }
    @media (max-width: 575px){
        .team-card{
            min-height: 430px;
            margin: 0 10px;
        }
    }
    @media (max-width: 425px){
        padding: 80px 0 50px;
        .top-area{
            img{
                max-width: 100px;
                left: 20px;
                bottom: -40px;
            }
        }
        .mobile-slide{
            .col-12{
                padding-right: 0;
                padding-left: 0;
            }
        }
        .team-card{
            min-height: 100vw;
        }
    }
}

#investors{
    padding: 100px 0;
    background-color: $black;
    background-color: $lightblue;
    .top-area{
        margin-bottom: 50px;
        text-align: center;
    }
    .investors-grid{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2px;
        .investor-item{
            max-width: 292px;
            position: relative;
            .investor-data{
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 8px 0;
                background: rgba(0, 0, 0, 0.70);
                text-align: center;
                p{
                    color: $light;
                    margin: 0;
                    span{
                        color: $yellow;
                    }
                }
            }
        }
    }
    @media (max-width: 1200px){
        .investors-grid{
            .investor-item{
                max-width: 230px;
                .investor-data{
                    p{
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .investors-grid{
            .investor-item{
                max-width: 171px;
            }
        }
    }
    @media (max-width: 767px){
        .investors-grid{
            justify-content: center;
            .investor-item{
                width: 49%;
                max-width: 49%;
            }
        }
    }
    @media (max-width: 425px){
        padding: 60px 0 50px;
        .investors-grid{
            .investor-item{
                .investor-data{
                    p{
                        max-width: 120px;
                        line-height: 14px;
                        margin: 0 auto; 
                    }
                }
            }
        }
    }
}

#our-advisors{
    padding: 100px 0;
    background-color:$light;
    position: relative;
    .top-area{
        text-align: center;
    }
    .carousel{
        .carousel-inner{
            overflow: initial;
            .carousel-item{
                .box-content-slide{
                    display: flex;
                    align-items: center;
                    min-height: 580px;
                    .content-left{
                        width: 40%;
                        text-align: left;
                        h3{
                            text-align: left;
                        }
                        p{
                            color: $black;
                            min-height: 120px;
                        }
                    }
                    .image-slider{
                        position: relative;
                        overflow: hidden;
                        width: 60%;
                        min-height: 575px;
                        img{
                            width: 850px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: .9;
                        }
                        &::before,
                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: 1;
                            background: radial-gradient(circle, rgba(0,0,0,0) 15%, $light 100%);
                        }
                        &::before{
                            background: 
                            linear-gradient(0deg, $light 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, $light 100%),
                            linear-gradient(270deg, $light 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, $light 100%);
                        }
                    }
                }
            }
        }
        .arrows-navigation{
            .carousel-indicators{
                justify-content: flex-start;
                bottom: 90px;
                margin: 0;
                z-index: 1;
                li{
                    text-indent: 0;
                    transition: all .2s ease-in-out;
                    opacity: .5;
                    width: 80px;
                    height: auto;
                    margin-right: 15px;
                    &::after{
                        height: 3px;
                        width: 100%;
                        background-color: $black;
                        transition: all .2s ease-in-out;
                        opacity: 0;
                    }
                    &:hover,
                    &.active{
                        opacity: 1;
                        &::after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .box-content-slide{
                        flex-wrap: wrap;
                        min-height: 500px;
                        .content-left{
                            width: 100%;
                        }
                        .image-slider{
                            width: 100%;
                            order: -1;
                        }
                    }
                }
            }
            .arrows-navigation{
                .carousel-indicators{
                    margin-top: 5px;
                    position: static;
                }
            }
        }
    }
    @media (max-width: 575px){
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .box-content-slide{
                        .image-slider{
                            min-height: 300px;
                            img{
                                width: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 425px){
        padding: 80px 0 50px;
    }
}

#careers{
    padding: 100px 0;
    background-color: $lightblue;
    .top-area{
        text-align: center;
        p{
            color: $black;
        }
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    @media (max-width: 425px){
        padding: 80px 0 50px;
    }
}

#join-us{
    padding: 150px 0 150px;
    background-color: $black;
    background-image: url(../../images/about/energy-bg-black.jpg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #000000 0%, #00000000 100%);
    }
    .content-cta{
        text-align: center;
        position: relative;
        z-index: 1;
        img{
            max-width: 80px;
            margin-bottom: 30px;
        }
        h4{
            margin-bottom: 30px;
        }
    }
    @media (max-width: 575px){
        padding: 100px 0 150px;
        background-size: cover;
    }
}

#product-hero{
    &.is-about{
        padding: 77px 0 0;
        min-height: auto;
        video{
            position: static;
            width: 100%;
            height: auto;
            &.is-desktop{
                display: block;
            }
            &.is-mobile{
                display: none;
            }
        }
        .volume-control{
            position: absolute;
            bottom: 40px;
            right: 40px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #00000076;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .4s ease-in-out;
            img{
                width: 25px;
            }
            &::after{
                content: "";
                position: absolute;
                width: 60%;
                height: 2px;
                background-color: #ffffff;
                transform: rotate(-45deg);
                transition: all .4s ease-in-out;
            }
            &:hover{
              background-color: #000000c4;  
            }
            &.is-on{
                &::after{
                   width: 0%;
                }
            }
        }
        @media(max-width: 767px){
            padding-top: 50px;
            padding-bottom: 0;
        }
        @media(max-width: 575px){
            video{
                &.is-desktop{
                    display: none;
                }
                &.is-mobile{
                    display: block;
                }
            }
            .volume-control{
                position: absolute;
                bottom: 20px;
                right: 20px;
                width: 45px;
                height: 45px;
                img{
                    width: 18px;
                }
                &::after{
                    height: 1px;
                }
            }
        }
    }
}

#our-vision{
    background-color: $light;
    padding: 70px 0;
    h5{
        color: #808080;
        margin-bottom: 30px;
    }
    h2{
        margin-bottom: 0;
    }
    video{
        max-width: 522px;
        display: block;
        margin: 0 auto;
    }
    @media (max-width: 767px){
        video{
            max-width: 400px;
        }
    }
    @media (max-width: 575px){
        padding: 60px 0;
        video{
            margin-top: 30px;
            max-width: 250px;
        }
    }
}

#our-mission{
    background-color: $black;
    display: flex;
    align-items: stretch;
    justify-content: center;
    .sides{
        width: 100%;
        max-width: 50%;
        &.left-side{
            text-align: right;
            img{
                max-width: 720px;
            }
        }
        &.right-side{
            padding: 80px;
            background-color: $yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            > * {
                max-width: 560px;
            }
            h5{
                margin-bottom: 30px;
            }
            h2{
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: 767px){
        flex-wrap: wrap;
        .sides{
            max-width: 100%;
        }
    }
    @media (max-width: 575px){
        .sides{
            &.right-side{
                padding: 40px;
            }
        }
    }
}

#our-team{
    padding: 100px 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #E7F0F8 50%);
    .nav{
        border: 0;
        margin-bottom: 30px;
        .nav-item{
            font-size: 40px;
            padding: 0;
            border: 0;
            margin-right: 25px;
            color: #101010;
            opacity: 50%;
            background-color: inherit;
            &.active,
            &:hover{
                opacity: 100%;
            }
        }
    }
    .tab-content{
        .tab-pane{
            .wrapper-team-cards{
                display: flex;
                align-items: stretch;
                flex-wrap: wrap;
                gap: 30px;
                margin-bottom: 0;
            }
        }
    }
    .inner-team-card{
        max-width: 280px;
        border-radius: 24px;
        overflow: hidden;
        .team-data{
            height: 100%;
            background-color: $black;
            padding: 25px 30px;
            h4{
                color: $light;
                margin-bottom: 8px;
            }
            p{
                font-weight: 400;
                color: $yellow;
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: 991px){
        .nav{
            .nav-item{
                font-size: 24px;
                margin-right: 15px;
            }
        }
        .tab-content{
            .tab-pane{
                .wrapper-team-cards{
                    gap: 15px;
                }
            }
        }
        .inner-team-card{
            max-width: 220px;
            .team-data{
                padding: 20px 15px;
            }
        }
    }
    @media (max-width: 767px){
        .inner-team-card{
            width: 100%;
            max-width: calc(50% - 8px);
        }
    }
    @media (max-width: 575px){
        padding: 60px 0;
        .nav{
            gap: 10px 0;
            .nav-item{
                font-size: 24px;
                width: 50%;
                text-align: center;
                margin-right: 0;
            }
        }
        .inner-team-card{
            margin: 0 5px;
            border-radius: 12px;
            .team-data{
                &.is-advisors{
                    min-height: 114px;
                }
            }
        }
        .slick-dots{
            margin-top: 30px;
            position: static;
            line-height: 0;
            li{
                width: auto;
                height: auto;
                margin: 2px; 
                transition: all .2s ease-in-out;
                button{
                    width: 5px;
                    height: 5px;
                    padding: 0;
                    border-radius: 50px;
                    background: $black;
                    opacity: .3;
                    transition: all .2s ease-in-out;
                    &::before{
                        display: none;
                    }
                }
                &.slick-active{
                    button{
                        width: 20px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#positions{
    padding: 80px 0 100px;
    background-color: $light;
    h2:first-of-type{
        margin-bottom: 40px;
    }
    .career-card{
        display: block;
        background: linear-gradient(-45deg,#BCCAD7 0%,#EAEFF3 33%,#D4DEE5 66%,#BCCAD7 100%),rgba(255,255,255,0.2);
        border-radius: 24px;
        padding: 35px 35px 35px;
        h3{
            min-height: 200px;
        }
        .inner-link{
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            color: $black;
            font-size: 22px;
            letter-spacing: -0.02em;
            position: relative;
            svg{
                position: relative;
                z-index: 1;
            }
            .circle{
                position: absolute;
                right: -10px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $yellow;
                transform: scale(0);
                transition: transform .2s ease-in-out;
            }
        }
        &:hover{
            text-decoration: none;
            .inner-link{
                .circle{
                    transform: scale(1);
                }
            }
        }
    }
    @media (max-width: 767px){
        .career-card{
            h3{
                min-height: 90px;
            }
            .inner-link{
                font-size: 16px;
                svg{
                    max-width: 50px;
                }
                .circle{
                    right: -10px;
                    width: 70px;
                    height: 70px;
                }
            }
            margin-bottom: 20px;
        }
    }
    @media (max-width: 575px){
        padding: 50px 0 60px;
        .career-card{
            border-radius: 12px;
            padding: 30px 25px 20px;
        }
    }
}