#hero-case-studies{
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black;
  .inner-content-hero{
    text-align: center;
    img{
      margin: 0 auto;
      &.chesskings-logo{
        max-width: 900px;
      }
      &.foodfight-logo{
        max-width: 240px;
      }
      &.oncore-logo{
        max-width: 700px;
      }
      &.dave-busters-logo{
        max-width: 250px;
      }
      &.five-iron-golf-logo{
        max-width: 550px;
      }
      &.hollywood-com-logo{
        max-width: 550px;
      }
      &.playplayground-logo{
        max-width: 400px;
      }
      &.puttshack-logo{
        max-width: 600px;
      }
      &.touchtunes-logo{
        max-width: 600px;
      }
      &.cliqfit-logo{
        max-width: 450px;
      }
    }
  }
  &.chesskings{
    background-image: url(../../public/images/case-studies/chesskings/case-study-hero.webp);
  } 
  &.foodfight{
    background-image: url(../../public/images/case-studies/foodfight/case-study-hero.webp);
  } 
  &.oncore{
    background-image: url(../../public/images/case-studies/oncore/case-study-hero.webp);
  }
  &.dave-busters{
    background-image: url(../../public/images/case-studies/dave-busters/case-study-hero.webp);
  } 
  &.five-iron-golf{
    background-image: url(../../public/images/case-studies/five-iron-golf/case-study-hero.webp);
  } 
  &.hollywood-com{
    background-image: url(../../public/images/case-studies/hollywood-com/case-study-hero.webp);
  } 
  &.playplayground{
    background-image: url(../../public/images/case-studies/playplayground/case-study-hero.webp);
  }
  &.puttshack{
    background-image: url(../../public/images/case-studies/puttshack/case-study-hero.webp);
  }
  &.touchtunes{
    background-image: url(../../public/images/case-studies/touchtunes/case-study-hero.webp);
  }
  &.cliqfit{
    background-image: url(../../public/images/case-studies/cliqfit/case-study-hero.webp);
  }
  @media(max-width: 575px){
    min-height: 400px;
    padding: 100px 0 70px;
    .inner-content-hero{
      img{
        &.chesskings-logo{
          max-width: 300px;
        }
        &.foodfight-logo,
        &.dave-busters-logo{
          max-width: 130px;
        }
        &.hollywood-com-logo{
          max-width: 280px;
        }
        &.cliqfit-logo,
        &.playplayground-logo{
          max-width: 200px;
        }
        &.oncore-logo,
        &.five-iron-golf-logo,
        &.puttshack-logo,
        &.touchtunes-logo{
          max-width: 250px;
        }
      }
    }
  }
}

#intro-study-product{
  padding: 70px 0;
  &.cliqfit,
  &.chesskings{
    margin-top: -50px;
    padding: 0 0 50px;
  }
  .inner-content{
      max-width: 640px;
      h2{
          margin-bottom: 30px;
      }
      .buttons-wrapper{
        margin-top: 45px;
        display: flex;
        align-items: center;
        gap: 20px;
      }
  }
  .wrapper-phone{
    position: relative;
    text-align: center;
    img{
      max-width: 576px;
      &.chesskings,
      &.cliqfit{
        max-width: 324px;
      }
      &.foodfight{
        max-width: 576px;
      }
    }
  }
  @media(max-width: 991px){
      text-align: center;
      margin-top: 0;
      padding: 50px 0 100px;
      &.chesskings{
        padding: 0 0 100px;
      }
      .inner-content{
        margin: 0 auto;
        .buttons-wrapper{
          gap: 10px;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      .wrapper-phone{
        margin-bottom: 40px;
      }
  }
  @media(max-width: 575px){
    .wrapper-phone{
      img{
        &.chesskings{
          max-width: 240px;
        }
      }
    }
  }
}

#about-case-study{
  padding: 70px 0;
  background-color: #F7E1CC;
  .wrapper-phone{
    text-align: center;
    img{
      max-width: 576px;
      &.chesskings{
        max-width: 570px;
      }
      &.foodfight{
        max-width: 576px;
      }
      &.cliqfit{
        max-width: 570px;
      }
    }
  }
  .inner-content{
    max-width: 550px;
    margin-left: auto;
    h2{
      margin-bottom: 30px;
    }
    h3{
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 0;
      a{
        text-decoration: underline;
      }
    }
  }
  @media(max-width: 991px){
    .wrapper-phone{
      margin-bottom: 40px;
    }
    .inner-content{
      margin-right: auto;
      text-align: center;
    }
  }
}

#market-options{
  padding: 80px 0;
  position: relative;
  .trigger-animation{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 0;
    pointer-events: none;
  }
  .market-slider{
    width: 100%;
    .slick-track{
      display: flex;
      align-items: stretch;
      .carousel-item{
        height: auto;
      }
    }
    .market-card{
      height: 100%;
      text-align: center;
      max-width: 380px;
      background: linear-gradient(-45deg, #BCCAD7 0%, #EAEFF3 33%, #D4DEE5 66%, #BCCAD7 100%), rgba(255, 255, 255, 0.2);
      border-radius: 24px;
      padding: 35px 30px 50px;
      .wrapper-icon{
        width: 160px;
        height: 160px;
        margin: 30px auto 30px;
        border-radius: 50%;
        background-color: $light;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 20px 40px #A4BCCC;
        img{
          max-width: 84px;
        }
      }
      .all-h3{
        margin-bottom: 0;
        &.is-medium-size{
          font-size: 30px;
        }
      }
    }
  }
  @media (max-width: 991px){
    padding: 60px 0 40px;
    .market-slider{
      .slick-track{
        margin-bottom: 20px;
      }
      .market-card{
        margin: 0 auto 30px;
        .all-h3{
          &.is-medium-size{
            font-size: 24px;
          }
        }
      }
      .slick-dots{
        li {
          margin: 0;
          button:before{
            color: $black;
          }
          &.slick-active{
            button:before{
              opacity: 1;
            }
          }
        }
      }
    }
  }
  @media (max-width: 575px){
    .col-12{
      padding: 0;
    }
    .market-slider{
      .market-card{
        border-radius: 12px;
        padding: 25px 20px;
        margin: 5px !important;
      }
    }
  }
}

#case-study-values{
  padding: 70px 0;
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .trigger-animation{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 0;
    pointer-events: none;
  }
  &.cheeskings{
   background-image: url(../../public/images/case-studies/chesskings/case-study-values.webp);
  }
  &.foodfight{
   background-image: url(../../public/images/case-studies/foodfight/case-study-values.webp);
  }
  &.oncore{
   background-image: url(../../public/images/case-studies/oncore/case-study-values.webp);
  }
  &.five-iron-golf{
   background-image: url(../../public/images/case-studies/five-iron-golf/case-study-values.webp);
  }
  &.hollywood-com{
   background-image: url(../../public/images/case-studies/hollywood-com/case-study-values.webp);
  }
  &.playplayground{
   background-image: url(../../public/images/case-studies/playplayground/case-study-values.webp);
  }
  &.puttshack{
    background-image: url(../../public/images/case-studies/puttshack/case-study-values.webp);
  }
  &.touchtunes{
    background-image: url(../../public/images/case-studies/touchtunes/case-study-values.webp);
  }
  &.cliqfit{
    background-image: url(../../public/images/case-studies/cliqfit/case-study-values.webp);
  }
  .inner-top-area{
    text-align: center;
    max-width: 820px;
    margin: 0 auto 60px;
    &.is-large{
      max-width: 1000px;
    }
    &.is-medium{
      max-width: 950px;
    }
    h2{
      color: $light;
    }
  }
  .values-cards-slide{
    &.is-two-slides{
      @media(min-width: 991px){
        .slick-track{
          width: 100% !important;
        }
      }
    }
    .slick-track{
      display: flex;
      align-items: stretch;
      .carousel-item{
        height: auto;
      }
    }
    .value-card{
      text-align: center;
      max-width: 380px;
      background: linear-gradient(-45deg, #ac8356b0 0%, #c49c72ab 33%, #f6d1abba 66%, #9d774ec6 100%);
      border-radius: 24px;
      padding: 35px 34px 35px; 
      backdrop-filter: blur(10px);
      height: 100%;
      .wrapper-icon{
        width: 160px;
        height: 160px;
        margin: 30px auto 30px;
        border-radius: 50%;
        background-color: #F7E1CC;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 20px 40px #7F674C;
        img{
          max-width: 84px;
        }
      }
      .all-h3{
        color: $light;
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 991px){
    .values-cards-slide{
      .slick-track{
        margin-bottom: 20px;
      }
      .value-card{
        margin: 0 auto;
      }
      .slick-dots{
        li {
          margin: 0;
          button:before{
            color: $light;
          }
          &.slick-active{
            button:before{
              opacity: 1;
            }
          }
        }
      }
    }
  }
  @media (max-width: 575px){
    .col-12{
      padding: 0;
    }
    .values-cards-slide{
      .value-card{
        border-radius: 12px;
        padding: 25px 20px;
        margin: 5px !important;
        p{
          min-height: 70px;
        }
      }
    }
  }
}

#case-study-testimonial{
  background-color: #E8EFF4;
  padding: 70px 0;
  .inner-content{
    max-width: 550px;
    .all-h5{
      margin-bottom: 30px;
    }
    p{
      font-weight: 400;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .wrapper-phone{
    text-align: center;
    img{
      max-width: 576px;
      &.cheeskings{
        max-width: 710px;
      }
      &.foodfight{
        max-width: 576px;
      }
      &.cliqfit{
        max-width: 570px;
      }
    }
  }
  @media(max-width: 991px){
    .inner-content{
      text-align: center;
      margin: 0 auto 60px;
    }
  }
}