#hero-contact{
    padding: 150px 0 120px;
    background-color: $black;
    h1{
        text-align: center;
        color: $light;
    }
}

#form-area{
    padding: 100px 0;
    p{
        text-align: center;
        max-width: 750px;
        margin: 0 auto 30px;
    }
    .form-box{
        padding: 45px 40px 30px;
        max-width: 720px;
        margin: 0 auto;
        background-color: $lightblue;
        border-radius: 16px;
    }
    @media (max-width: 575px){
        .form-box{
            padding: 35px 30px 20px;
        }
    }
}