#get-in-touch{
padding: 150px 0;
background-color: #37358F;
background-image: url(../../images/homepage/powered-by/bg_bold.png);
background-repeat: repeat;
background-size: 180px;
background-position: 0 0;
.content-area{
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
    h2{
        margin: 0 auto;
        text-align: center;
        strong{
            color: $yellow;
        }
    }
    p{
        margin: 20px 0 25px;
    }
}
@media (max-width: 991px){
    padding: 100px 0;
}
@media (max-width: 575px){
    padding: 50px 0;
    background-size: 100px;
}
}