body{
    &.no-hidden{
        overflow: initial;
    }
}
#hero-product{
    padding: 150px 0 200px;
    background-color: $darkblue;
    background-image: url(../../images/product/hero-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1640px;
    overflow: hidden;
    h1{
        background: linear-gradient(180deg, #FFF 0%, #FFF 69.85%, #81F7A3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        max-width: 1340px;
        margin: 0 auto;
    }
    .hero-images{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 50px;
        position: relative;
        gap: 20px;
        .hero-screen{
            position: relative;
            &::after{
                content: "";
                width: 80%;
                height: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) translate3d(0, 0, 0);
                background-color: $yellow;
                filter: blur(100px);
                opacity: 0;
                transition: all .5s ease-in-out;
            }
            &:hover{
                &::after{
                    opacity: 1;
                }
            }
        }
        .left-images,
        .right-images,
        .center-images{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img{
                transform: translateZ(0);
                filter: drop-shadow(0px 25px 35px rgba(2, 13, 39, 0.65));
                position: relative;
                z-index: 1;
            }
        }
        .left-images{
            width: 35%;
            justify-content: flex-end;
            padding-top: 40px;
            .hero-screen-1{
                max-width: 253px;
                position: absolute;
                left: -150px;
                bottom: 160px;
            }
            .hero-screen-2{
                max-width: 253px;
                position: absolute;
                left: -150px;
                top: 100px;
            }
            .hero-screen-3{
                max-width: 254px;
                margin-top: 70px;
            }
            .hero-screen-4{
                max-width: 254px;
            }
        }
        .center-images{
            width: 30%;
            .hero-phone{
                max-width: 333px;
            }
        }
        .right-images{
            width: 35%;
            justify-content: flex-start;
            padding-top: 100px;
            .hero-screen-5{
                max-width: 255px;
                margin-top: 60px;
            }
            .hero-screen-6{
                max-width: 255px;
            }
            .hero-screen-7{
                max-width: 283px;
                position: absolute;
                position: absolute;
                right: -170px;
                bottom: 200px;
            }
            .hero-screen-8{
                max-width: 283px;
                position: absolute;
                right: -170px;
                top: 140px;
            }
        }
    }
    @media (max-width: 1024px){
        .hero-images{
            .left-images,
            .right-images{
                .hero-screen-1,
                .hero-screen-2,
                .hero-screen-7,
                .hero-screen-8{
                    display: none;
                }
            }
            .left-images,
            .right-images{
                width: 30%;
            }
            .center-images{
                width: 40%;
            }
        }
    }
    @media (max-width: 767px){
        padding: 100px 0;
    }
    @media (max-width: 575px){
        .hero-images{
            gap: 0;
            align-items: center;
            .left-images,
            .right-images{
                padding: 0;
                width: 25%;
            }
            .center-images{
                width: 50%;
            }
        }
    }
    @media (max-width: 425px){
        h1{
            font-size: 27px;
            line-height: 32px;
        }
    }
}
.marquee-section{
    padding: 100px 0 180px;
    background-color: $darkblue;
    overflow: hidden;
    .holder-marquees{
        transform: rotate(-2deg);
        .marquee {
            width: 100%;
            display: flex;
            white-space: nowrap;
            -webkit-backface-visibility: hidden;
            -webkit-transform-style: preserve-3d;
            transform: translate3d(0, 0, 0);
            gap: 20px;
            .marquee-content {
                display: inline-flex;
                align-items: center;
                animation: marquee 150s linear infinite;
                -webkit-backface-visibility: hidden;
                -webkit-transform-style: preserve-3d;
                will-change: transform;
                color: $middle-blue;
                font-family: "Bauziet";
                font-size: 106px;
                font-weight: 800;
                line-height: 125px;
                text-transform: uppercase;
                white-space: nowrap;
                gap: 20px;
                .outline{
                    color: #00000000;
                    background-image: url(../../images/product/text-stroke.svg);
                    background-position: center 26px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            &.bottom{
                margin-top: -20px;
                transform: translateX(-50%);
                .marquee-content{
                    animation-duration: 140s;
                }
            }
        }
        @keyframes marquee {
            0%{
                transform: translateX(0%);
            }
            100% {
                transform: translateX(calc(-100% - 20px));
            }
        }
        &.green{
            transform: rotate(2deg);
            .marquee{
                .marquee-content{
                    animation-direction: reverse;
                    span{
                        color: $yellow;
                        &.outline{
                            color: #00000000;
                            background-image: url(../../images/product/text-stroke-green.svg);
                        }
                    }
                }
            }
        }
    }
    .outline-boxes{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: -30px;
        .inner-box{
            min-width: 20%;
            min-height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
            border-radius: 8px;
            border: 1px solid $middle-blue;
            background: rgba(0, 16, 53, 0.20);
            box-shadow: 0px 0px 25px 0px rgba(170, 156, 255, 0.30);
            backdrop-filter: blur(5px);
            transition: box-shadow .5s ease-in-out;
            img{
                width: 60px;
            }
            h5{
                font-family: "Bauziet";
                text-transform: uppercase;
                text-align: left;
                span{
                    display: block;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            &:hover{
                box-shadow: 0px 0px 150px 0px rgba(170, 156, 255, 0.40);
            }
        }
    }
    &.green{
        .outline-boxes{
            .inner-box{
                border-color: $yellow;
                box-shadow: 0px 0px 25px 0px rgba(14, 241, 105, 0.30);
                h5{
                    color: #FFFFFF;
                }
                &:hover{
                    box-shadow: 0px 0px 150px 0px rgba(14, 241, 105, 0.40);
                }
            }
        }
    }
    @media (max-width: 1024px){
        .holder-marquees{
            .marquee{
                .marquee-content{
                    font-size: 85px;
                    line-height: 113px;
                }
            }
        }
        .outline-boxes{
            flex-wrap: wrap;
            .inner-box{
                min-width: 31%;
                max-width: 31%;
            }
        }
    }
    @media (max-width: 991px){
        .outline-boxes{
            .inner-box{
                min-height: 210px;
                padding: 10px;
                &:nth-child(4),
                &:nth-child(5){
                    min-width: 48%;
                    max-width: 48%;
                }
            }
        }
    }
    @media (max-width: 767px){
        padding: 100px 0;
        .holder-marquees{
            .marquee{
                .marquee-content{
                    font-size: 55px;
                    line-height: 90px;
                }
            }
        }
        .outline-boxes{
            flex-wrap: wrap;
            .inner-box{
                min-height: 160px;
                min-width: 47%;
                max-width: 47%;
            }
        }
    }
    @media (max-width: 425px){
        .holder-marquees{
            .marquee{
                .marquee-content{
                    font-size: 32px;
                    line-height: 76px;
                }
                &.bottom{
                    margin-top: -40px;
                }
            }
        }
        .outline-boxes{
            .inner-box{
                border-radius: 4px;
                min-height: 140px;
                img{
                    max-width: 45px;
                }
                h5{
                    font-size: 15px;
                    line-height: 18px;
                    margin: 0;
                }
                &:last-child{
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100px;
                }
            }
        }
    }
}

#lucra-technology{
    padding: 100px 0 400px;
    background-color: $darkblue;
    position: relative;
    z-index: 1;
    .top-area{
        max-width: 900px;
        margin: 0 auto 80px;
        position: relative;
        z-index: 2;
        h2{
            color: #FFFFFF;
            span{
                color: $yellow;
            }
        }
    }
    .tabs-area{
        width: 100%;
        height: 315vh;
        position: relative;
        z-index: 1;
        .tabs-inner-area{
            height: 100%;
            position: relative;
            .tab-holder-area{
                position: sticky;
                top: 8%;
            }
            .tab-center-area{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                opacity: 1;
                .energy-bg{
                    width: 820px;
                    position: absolute;
                }
                .phone-top-area{
                    min-height: 635px;
                    .phone-screens{
                        position: relative;
                        z-index: 4;
                        .main-portrait{
                            position: relative;
                            z-index: 2;
                            img{
                                width: 40vh;
                                max-width: 355px;
                            }
                            .energy{
                                width: 100%;
                                max-width: 126px;
                                position: absolute;
                                bottom: 30px;
                                right: -45px;
                                opacity: .9;
                                filter: drop-shadow(0 0 0 $yellow) drop-shadow(0 0 3px $yellow);
                                &.is-left{
                                    max-width: 129px;
                                    right: initial;
                                    bottom: initial;
                                    top: 30px;
                                    left: -55px;
                                }
                            }
                        }
                        .inner-screens{
                            background-color: #17212c;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            height: 100%;
                            max-height: 92%;
                            width: 34vh;
                            max-width: 300px;
                            transform: translate(-50%, -50%);
                            overflow: hidden;
                            border-radius: 30px;
                            .screen-tab{
                                position: absolute;
                                top: 0;
                                left: 100%;
                                height: 100%;
                                width: 100%;
                                opacity: 0;
                                z-index: 1;
                                transition: all .4s ease-in-out;
                                img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                &.active{
                                    opacity: 1;
                                    left: 0px;
                                }
                            }
                        }
                    }
                }
            }
            .tabs-content{
                height: 100%;
                width: 100%;
                max-width: 1140px;
                padding: 0 20px;
                position: absolute;
                top: 0;
                left: 50%;
                z-index: 3;
                transform: translate(-50%);
                display: flex;
                align-items: center;
                justify-content: space-between;
                .tab-content-inner{
                    color: #FFF;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    cursor: pointer;
                    .line-tab{
                        width: 425px;
                        margin-bottom: 20px;
                        position: relative;
                        .dot-line{
                            width: 6px;
                            height: 6px;
                            position: absolute;
                            bottom: 5px;
                            left: 4px;
                            border-radius: 50%;
                            background-color: #ffffff00;
                        }
                        .energy-tab{
                            width: 100px;
                            height: 1px;
                            background: linear-gradient(90deg, #0EF169 0%, transparent 100%);
                            position: absolute;
                            top: 1px;
                            right: -10%;
                            animation: energySingleTab 5s linear infinite;
                            visibility: hidden;
                            &.right{
                                animation-direction: reverse;
                                background: linear-gradient(-90deg, #0EF169 0%, transparent 100%);
                            }
                            @keyframes energySingleTab {
                                0%{
                                    right: 5%;
                                    opacity: .2;
                                }
                                20%{
                                    opacity: 1;
                                }
                                80%{
                                    opacity: 1;
                                }
                                100%{
                                    right: 75%;
                                    opacity: .2;
                                }
                            }
                        }
                    }
                    h4{
                        text-align: left;
                        text-transform: uppercase;
                        font-weight: 800;
                        opacity: 0.1;
                        transition: all .4s ease-in-out;
                    }
                    p{
                        opacity: 0;
                        margin-bottom: 0;
                        position: relative;
                        bottom: -30px;
                        transition: all .4s ease-in-out;
                    }
                    &.viewed{
                        .line-tab{
                            .dot-line{
                                background-color: #FFFFFF;
                            }
                        }
                    }
                    &:hover{
                        h4{
                            color: $yellow;
                            opacity: 1;
                        }
                    }
                    &.active,
                    &.active.viewed{
                        .energy-tab{
                            visibility: visible;
                        }
                        .dot-line{
                            background-color: $yellow;
                        }
                        h4{
                            color: $yellow;
                            opacity: 1;
                        }
                        p{
                            opacity: 1;
                            bottom: 0;
                        }
                    }
                }
                .left-content{
                    width: 23%;
                    height: 100%;
                    padding-top: 10vh;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 6vh;
                }
                .right-content{
                    width: 23%;
                    height: 100%;
                    padding-top: 10vh;
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 6vh;
                    .tab-content-inner{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-start;
                        .line-tab{
                            .dot-line{
                                position: absolute;
                                right: 4px;
                                left: initial;
                            }
                        }
                        h4{
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991px){
        .tabs-area{
            .tabs-inner-area{
                .tab-center-area{
                    .energy-bg{
                        width: 100%;
                    }
                    .phone-top-area{
                        .phone-screens{
                            .main-portrait{
                                img{
                                    width: 36vh;
                                }
                            }
                            .inner-screens{
                                width: 30vh;
                                max-width: 300px;
                            }
                        }
                    }
                }
                .tabs-content{
                    .left-content{
                        width: 31%;
                    }
                    .right-content{
                        width: 31%;
                    }
                }
            }
        }
    }
    @media (max-width: 767px){
        .tabs-area{
            .tabs-inner-area{
                .tab-holder-area{
                    .tabs-content{
                        .left-content,
                        .right-content{
                            gap: 1vh;
                        }
                    } 
                }
            } 
        } 
    }
    @media (max-width: 575px){
        padding-bottom: 200px;
        .top-area{
            margin: 0 auto 30px;
        }
        .tabs-area{
            .tabs-inner-area{
                .tab-holder-area{
                    display: flex;
                    flex-wrap: wrap;
                    top: 10%;
                    .tab-center-area{
                        .energy-bg{
                            top: 0;
                        }
                        .phone-top-area{
                            .phone-screens{
                                .main-portrait{
                                    .energy{
                                        max-width: 90px;
                                        right: -15px;
                                        &.is-left{
                                            max-width: 80px;
                                            left: -30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .tabs-content{
                        order: -1;
                        transform: none;
                        position: static;
                        flex-wrap: wrap;
                        min-height: 130px;
                        .left-content,
                        .right-content{
                            width: 100%;
                            padding-top: 0;
                            .tab-content-inner{
                                justify-content: center;
                                align-items: center;
                                opacity: 0 !important;
                                position: absolute;
                                top: 30px;
                                left: 0;
                                right: 0;
                                padding: 0 10px;
                                transition: all .5s ease-in-out;
                                h4, p{
                                    text-align: center;
                                }
                                &.viewed{
                                    opacity: 0 !important;
                                }
                                &.active{
                                    opacity: 1 !important;
                                    top: 10px;
                                }
                                .line-tab{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 425px){
        padding: 100px 0 150px;
        .tabs-area{
            .tabs-inner-area{
                .tab-holder-area{
                    .tabs-content{
                        .left-content,
                        .right-content{
                            .tab-content-inner{
                                p{
                                    max-width: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


#our-value-proposition{
    height: 450vh;
    padding-top: 0px;
    background: linear-gradient(180deg,#011035 0%,#001b60 100%);
    .accordion-sticky{
        padding-bottom: 50px;
        position: sticky;
        top: 0%;
        z-index: 1;
    }
    .top-area{
        margin-bottom: 10px;
        h2{
            margin-top: 85px;
            color: #FFFFFF;
        }
    }
    .phone-bottom-area{
        position: relative;
        min-height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        &::after,
        &::before{
            content: "";
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) translate3d(0,0,0) translateZ(0);
            width: 50%;
            height: 50%;
            border-radius: 316.994px;
            opacity: 0.3;
            background: $yellow;
            filter: blur(150px);
        }
        &::before{
            background: #1C69FF;
        }
        .apps-phone{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 5;
            text-align: center;
            .data-phone{
                border-radius: 12px;
                border: 1px solid $yellow;
                background: rgba(0, 19, 65, 0.76);
                box-shadow: 0px 0px 35px 0px rgba(14, 241, 105, 0.20);
                backdrop-filter: blur(5px);
                max-width: 370px;
                padding: 30px;
                text-align: left;
                position: absolute;
                z-index: 5;
                opacity: 0;
                transform: scale(.85);
                transition: all .3s ease-in-out;
                transition-delay: .1s;
                h4{
                    text-align: left;
                    text-transform: uppercase;
                    color: $yellow;
                    font-weight: 600;
                }
                p{
                    color: #A1C8FF;
                    margin: 0;
                }
                &.is-first{
                    top: 100px;
                    left: 1vh;
                }
                &.is-second{
                    top: 150px;
                    right: 1vh;
                }
                &.is-third{
                    bottom: 150px;
                    left: 1vh;
                }
                &.is-fourth{
                    top: 150px;
                    right: -80px;
                }
                &:hover{
                    box-shadow: 0px 0px 150px 0px rgba(14, 241, 105, 0.30);
                }
            }
            //Phones or Dasboard image
            > img{
                opacity: 0;
                transition: all .3s ease-in-out;
                &.is-phone{
                    width: 389px;
                    max-width: 38vh;
                }
                &.is-dashboard{
                    margin-top: 20px;
                    width: 991px;
                    max-width: 100vh;
                    border-radius: 6px;
                    box-shadow: 0px 13.50026px 29.70057px 0px rgba(0, 0, 0, 0.22), 0px 54.90104px 54.90104px 0px rgba(0, 0, 0, 0.19), 0px 122.40233px 73.80141px 0px rgba(0, 0, 0, 0.11), 0px 217.80414px 87.30167px 0px rgba(0, 0, 0, 0.03), 0px 341.10648px 95.40182px 0px rgba(0, 0, 0, 0.00);
                    transform: scale(.9);
                }
            }
            // Grid Logos, last step
            .grid-logos{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1vh;
                margin-top: 40px;
                .logos{
                    width: 31%;
                    border-radius: 16px;
                    border: 1px solid rgba(14, 241, 105, 0.40);
                    background: rgba(0, 19, 65, 0.80);
                    box-shadow: 0px 0px 35px 0px rgba(170, 156, 255, 0.20);
                    backdrop-filter: blur(5px);
                    padding: 5vh;
                    height: 150px;
                    max-height: 20vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0.5vh 0;
                    opacity: 0;
                    transform: scale(.9);
                    transition: all .3s ease-in-out;
                    &.is-link{
                        transition: all .5s ease-in-out;
                        &:hover{
                            border: 1px solid rgba(14, 241, 105, 0.80);
                            background: rgb(0, 20, 65);
                            box-shadow: 0px 0px 150px 0px rgba(170, 156, 255, 0.40);
                        }
                    }
                    &.delay-5{
                        transition-delay: .1s;
                    }
                    &.delay-10{
                        transition-delay: .2s;
                    }
                    img{
                        &.aeropay{
                            max-width: 186px;
                        }
                        &.ankura{
                            max-width: 170px;
                        }
                        &.aws{
                            max-width: 104px;
                        }
                        &.okta{
                            max-width: 152px;
                        }
                        &.paypal{
                            max-width: 174px;
                        }
                        &.sigma{
                            max-width: 195px;
                        }
                        &.venmo{
                            max-width: 147px;
                        }
                    }
                    &.empty{
                        position: relative;
                        border: 0;
                        background: rgba(0, 19, 65, 0.0);
                        box-shadow: none;
                        backdrop-filter: blur(0);
                        .data-phone{
                            width: 110%;
                            height: 110%;
                            top: 0;
                            right: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            h4{
                                margin: 0;
                            }
                        }
                    }
                    &.more{
                        h5{
                            font-family: 'Bauziet', sans-serif;
                            font: 600px;
                            text-transform: uppercase;
                            color: #2F57AF;
                            margin: 0;
                        }
                    }
                }
            }

            // Status on scroll
            &.active{
                z-index: 6;
                // opacity: 1;
                img{
                    opacity: 1;
                    transform: scale(1);
                    &.is-dashboard{
                        transform: scale(1);
                    }
                }
                .data-phone{
                    opacity: 1;
                    transform: scale(1);
                }
                .grid-logos{
                    .logos{
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
    @media (max-width: 1440px){
        .phone-bottom-area{
            .apps-phone{
                .data-phone{
                    &.is-first{
                        left: 5vh;
                    }
                    &.is-second{
                        right: 5vh;
                    }
                    &.is-third{
                        left: 5vh;
                        bottom: 250px;
                    }
                }
                .grid-logos{
                    margin-top: 0;
                    gap: 1%;
                    .logos{
                        margin: 0.5% 0;
                    }
                }
            }
        }
    }
    @media (max-width: 1024px){
        .phone-bottom-area{
            .apps-phone{
                .data-phone{
                    padding: 20px;
                    &.is-fourth{
                        right: 20px;
                    }
                }
                > img{
                    &.is-dashboard{
                        margin-top: 40px;
                    }
                }
                .grid-logos{
                    .logos{
                        padding: 20px;
                        min-height: 125px;
                        height: auto;
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        height: 500vh;
        .phone-bottom-area{
            min-height: 550px;
            .apps-phone{
                > img{
                    &.is-phone{
                        max-width: 30vh;
                    }
                    &.is-dashboard{
                        max-width: 70vw;
                    }
                }
                .grid-logos{
                    .logos{
                        padding: 5px;
                        img{
                            &.aeropay{
                                max-width: 146px;
                            }
                            &.ankura{
                                max-width: 130px;
                            }
                            &.aws{
                                max-width: 80px;
                            }
                            &.okta{
                                max-width: 130px;
                            }
                            &.paypal{
                                max-width: 134px;
                            }
                            &.sigma{
                                max-width: 165px;
                            }
                            &.venmo{
                                max-width: 117px;
                            }
                        }
                        &.empty{
                            .data-phone{
                                width: 135%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 767px){
        .phone-bottom-area{
            .apps-phone{
                .data-phone{
                    padding: 15px;
                    &.is-first,
                    &.is-second,
                    &.is-third,
                    &.is-fourth{
                        top: initial;
                        right: initial;
                        bottom: -40px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 120%;
                    }
                }
                > img{
                    &.is-dashboard{
                        max-width: 85vw;
                    }
                }
                .grid-logos{
                    .logos{
                        min-height: 85px;
                        border-radius: 6px;
                        img{
                            &.aeropay{
                                max-width: 100px;
                            }
                            &.ankura{
                                max-width: 90px;
                            }
                            &.aws{
                                max-width: 50px;
                            }
                            &.okta{
                                max-width: 90px;
                            }
                            &.paypal{
                                max-width: 90px;
                            }
                            &.sigma{
                                max-width: 110px;
                            }
                            &.venmo{
                                max-width: 80px;
                            }
                        }
                        &.empty{
                            .data-phone{
                                width: 160%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 575px){
        .phone-bottom-area{
            min-height: 450px;
            .apps-phone{
                .data-phone{
                    border-radius: 6px;
                    &.is-first,
                    &.is-second,
                    &.is-third,
                    &.is-fourth{
                        top: initial;
                        right: initial;
                        bottom: -40px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                    }
                }
                .grid-logos{
                    .logos{
                        width: 49%;
                        &.empty{
                            width: 100%;
                            order: 9;
                            .data-phone{
                                top: 0;
                                left: 0;
                                right: initial;
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 425px){
        padding-bottom: 100px;
        .phone-bottom-area{
            .apps-phone{
                > img{
                    &.is-dashboard{
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}


#risk-and-compliance{
    padding: 150px 0 100px;
    background-color: #01123F;
    // background-image: url(../../images/product/risk-management-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        pointer-events: none;
        background: linear-gradient(rgb(2 26 95) 0%, rgba(1, 18, 63, 0) 100%);
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 300px;
        pointer-events: none;
        background: linear-gradient(0deg, #011240 0%, rgba(1, 18, 63, 0.00) 100%);
    }
    .top-area{
        margin-bottom: 100px;
        h2{
            text-align: left;
            text-transform: uppercase;
            color: $middle-blue;
            font-size: 82px;
            line-height: 82px;
            span{
                color: #FFFFFF;
                font-size: 100px;
            }
        }
    }
    .grid-boxs{
        max-width: 1050px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        .inner-box{
            min-height: 465px;
            padding: 30px;
            border-radius: 7.798px;
            border: 1px solid $middle-blue;
            background: rgba(0, 19, 65, 0.70);
            box-shadow: 0px 0px 35px 0px rgba(170, 156, 255, 0.20);
            backdrop-filter: blur(15px);
            margin-bottom: 30px;
            position: relative;
            overflow: hidden;
            transition: all .5s ease-in-out;
            img{
                max-width: 100px;
                margin-bottom: 30px;
            }
            h5{
                text-align: left;
                font-family: "Bauziet";
                text-transform: uppercase;
                line-height: 25px;
                margin-bottom: 35px;
                span{
                    font-size: 18px;
                }
            }
            p{
                margin-bottom: 0;
                color: #AFCBFF;
                font-size: 13px;
                font-weight: 500;
                line-height: 20px;
            }
            &.stack-left{
                transform: translate(90%, -4%) rotate(-10deg);
                z-index: 2;
                &.is-middle{
                    transform: translate(72%,-108%) rotate(-15deg);
                    z-index: 1;
                }
                &.is-bottom{
                    transform: translate(55%,-210%) rotate(-20deg);
                    z-index: 0;
                }
            }
            &.stack-center{
             &.is-middle{
                transform: translate(0%,-97%);
             }
             &.is-bottom{
                transform: translate(0%,-198%);
             }
            }
            &.stack-right{
                transform: translate(-90%, -4%) rotate(10deg);
                z-index: 2;
                &.is-middle{
                    transform: translate(-72%,-109%) rotate(15deg);
                    z-index: 1;
                }
                &.is-bottom{
                    transform: translate(-55%,-211%) rotate(20deg);
                    z-index: 0;
                }
            }
            &:hover{
                box-shadow: 0px 0px 150px 0px rgba(170, 156, 255, 0.40);
            }
        }
    }
    @media (max-width: 1024px){
        .top-area{
            h2{
                font-size: 55px;
                line-height: 60px;               
            span{
                    font-size: 55px;
                }
            }
        }
    }
    @media (max-width: 991px){
        .grid-boxs{
            .inner-box{
                min-height: auto;
                &.stack-left,
                &.stack-center,
                &.stack-right{
                    transform: none;
                    &.is-middle,
                    &.is-bottom{
                        transform: none;
                    }
                }
            }
        }   
    }
    @media (max-width: 767px){
        .top-area{
            margin-bottom: 30px;
            h2{
                font-size: 34px;
                line-height: 40px;           
            span{
                    font-size: 34px;
                }
            }
        }
        .grid-boxs{
            .inner-box{
                &.left-column,
                &.center-column,
                &.right-column{
                    margin-top: 0;
                }
            }
        }
    }
    @media (max-width: 575px){
        .grid-boxs{
            .inner-box{
                padding: 20px;
                img{
                    max-width: 60px;
                }
            }
        }
    }
    @media (max-width: 425px){
        padding: 50px 0;
        .top-area{
            h2{
                font-size: 27px;
                line-height: 32px;  
                text-align: center;       
            span{
                    font-size: 27px;
                }
            }
        }
        .grid-boxs{
            .inner-box{
                h5{
                    margin-bottom: 15px;
                }
            }
        }
    }
}

#client-categories{
    padding: 100px 0 100px;
    background: linear-gradient(180deg, #01123F 0%, #37358F 100%);
    position: relative;
    z-index: 1;
    .top-area{
        h2{
            color: #FFFFFF;
            text-transform: uppercase;
            text-align: left;
        }
    }
    .cards-area{
        .categories-top,
        .categories-bottom{
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5%;
            .category-card{
                border-radius: 8px;
                border: 1.5px solid #A68EFF;
                background: rgba(0, 19, 65, 0.65);
                box-shadow: 0px 0px 35px 0px rgba(170, 156, 255, 0.20);
                backdrop-filter: blur(5px);
                overflow: hidden;
                position: relative;
                transition: box-shadow .5s ease-in-out;
                max-width: 30%;
                &:hover{
                    box-shadow: 0px 0px 150px 0px rgba(170, 156, 255, 0.30);
                }
                h5{
                    font-family: "Bauziet", sans-serif;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 30px 5px;
                }
                &.top-left{
                    width: 375px;
                    top: 120px;
                }
                &.top-middle{
                    width: 393px;
                    top: 60px;
                    align-self: flex-start;
                }
                &.top-right{
                    width: 386px;
                    top: -70px;
                }
                &.bottom-left{
                    width: 375px;
                    top: 80px;
                    left: -20px;
                }
                &.bottom-middle{
                    width: 477px;
                    align-self: flex-start;
                }
                &.bottom-right{
                    width: 345px;
                    top: 50px;
                }
            }
        }
        .categories-bottom{
            align-items: flex-start;
        }
    }
    @media (max-width: 1200px){
        .cards-area{
            .categories-top,
            .categories-bottom{
                gap: 2%;
            }
        }
    }
    @media (max-width: 991px){
        .top-area{
            margin-bottom: 35px;
            h2{
                text-align: center;
            }
        }
        .cards-area{
            .categories-top{
                flex-wrap: wrap;
                .category-card{
                    &.top-left,
                    &.top-middle,
                    &.top-right,
                    &.bottom-left,
                    &.bottom-middle,
                    &.bottom-right{
                        max-width: 32%;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    @media (max-width: 575px){
        .cards-area{
            .categories-top{
                justify-content: center;
                .category-card{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    &.top-left,
                    &.top-middle,
                    &.top-right,
                    &.bottom-left,
                    &.bottom-middle,
                    &.bottom-right{
                        max-width: 45%;
                        align-self: normal;
                    }
                    &.bottom-left{
                        align-self: flex-start;
                    }
                    img{
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 425px){
        .cards-area{
            .categories-top{
                .category-card{
                    &.top-left,
                    &.top-middle,
                    &.top-right,
                    &.bottom-left,
                    &.bottom-middle,
                    &.bottom-right{
                        max-width: 49%;
                    }
                }
            }
        }
    }
}

#get-in-touch{
    &.integrated-categories{
        position: relative;
        margin-top: -150px;
        padding-top: 180px;
        padding-bottom: 200px;
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, #37358F00 0%, #37358F 100%);
        }
    }
} 