// FILES
@import './navigation.scss';
@import './footer.scss';

.all-h1,
.all-h2,
.all-h3,
.all-h4,
.all-h5,
.all-h6,
p,
a {
    font-family: "Inter", sans-serif;
}

.all-h1{
    font-size: 50px;
    line-height: 110%;
    font-weight: 500;
    letter-spacing: -0.04em;
    @media(max-width: 991px){
        font-size: 40px;
    }
}

.all-h2{
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.04em;
    font-weight: 500;
    @media(max-width: 991px){
        font-size: 30px;
    }
}

.all-h3{
    font-size: 34px;
    line-height: 110%;
    letter-spacing: -0.04em;
    font-weight: 500;
    @media(max-width: 991px){
        font-size: 24px;
    }
}

.all-h4{
    font-size: 26px;
    line-height: 110%;
    letter-spacing: -0.04em;
    font-weight: 500;
    @media(max-width: 991px){
        font-size: 22px;
    }
}

.all-h5{
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.04em;
    font-weight: 500;
    @media(max-width: 991px){
        font-size: 18px;
    }
}

p{
    font-size: 15px;
    line-height: 140%;
    &.featured{
        font-size: 20px;
    }
    &.small{
        font-size: 12px;
    }
}