@font-face {
  font-family: 'Bauziet';
  font-weight: 800;
  src: url('../dist/fonts/Bauziet-Bold.eot') format('embedded-opentype'); /* IE9 + later */
  src: url('../dist/fonts/Bauziet-Bold.eot?#iefix') format('embedded-opentype'),
    url('../dist/fonts/Bauziet-Bold.woff2') format('woff2'),
    url('../dist/fonts/Bauziet-Bold.woff') format('woff'),
    url('../dist/fonts/Bauziet-Bold.ttf') format('truetype'),
    url('../dist/fonts/Bauziet-Bold.svg#Bauziet-Bold') format('svg');
}

@font-face {
  font-family: 'Bauziet';
  font-weight: 400;
  src: url('../dist/fonts/BauzietNormMedium.eot') format('embedded-opentype'); /* IE9 + later */
  src: url('../dist/fonts/Bauziet-Bold.eot?#iefix') format('embedded-opentype'),
    url('../dist/fonts/BauzietNormMedium.woff2') format('woff2'),
    url('../dist/fonts/BauzietNormMedium.woff') format('woff'),
    url('../dist/fonts/BauzietNormMedium.ttf') format('truetype'),
    url('../dist/fonts/BauzietNormMedium.svg#BauzietNormMedium') format('svg');
}
