@media (max-width: 1200px) {
  #hero {
    &.hero-homepage {
      .container {
        .row-hero {
          .content {
            h1 {
              font-size: 80px;
              line-height: 80px;
            }
          }
        }
      }
    }
  }
  #join-the-team {
    .positions {
      .position {
        padding: 14px 22px;
      }
    }
  }
}
@media (max-width: 1024px) {
  #hero {
    &.hero-homepage {
      .container {
        .row-hero {
          .mobiles {
            img {
              &.mobile-left {
                top: -5%;
                left: -25%;
              }
              &.mobile-right {
                left: 8%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #hero {
    &.hero-homepage {
      .container {
        .row-hero {
          .mobiles {
            img {
              max-width: 290px;
              &.mobile-left {
                top: 0%;
                left: -10%;
                max-width: 240px;
              }
              &.mobile-right {
                max-width: 300px;
                left: 20%;
                top: 0;
              }
            }
          }
          .content {
            padding-top: 0;
            h1 {
              font-size: 56px;
              line-height: 60px;
            }
          }
        }
      }
    }
  }
  // TEAM PAGE
  #advisors {
    .container {
      .tab-box {
        #menuTabs {
          justify-content: center;
          padding-bottom: 20px;
          .nav-item {
            width: 14%;
            margin: 0 15px 50px;
          }
        }
      }
      .tab-content {
        .tab-info {
          padding: 0 30px;
        }
      }
    }
  }
  #join-the-team {
    .positions {
      .position {
        padding: 14px 24px;
        h4 {
          font-size: 19px;
        }
      }
    }
  }
  #pre-footer {
    #media,
    #press {
      width: 100%;
      h1 {
        width: 100%;
      }
    }
    #carouselExampleCaptions {
      min-height: 400px;
      .carousel-inner {
        .carousel-item {
          .content {
            margin-top: 60px;
            padding: 0;
            .title {
              padding: 0;
            }
            .divider {
              width: 100%;
            }
            .description {
              padding: 0;
            }
          }
        }
      }
    }
  }
  #footer {
    .box-logo {
      text-align: center;
    }
    .provide-by {
      justify-content: center;
    }
    .contact {
      margin-top: 25px;
      div:first-child {
        justify-content: center;
      }
      .links {
        text-align: center;
      }
    }
  }
}
@media (max-width: 767px) {
  #hero {
    &.hero-homepage {
      .container {
        .row-hero {
          text-align: center;
          .content {
            padding-top: 0;
            padding-bottom: 60px;
            h1 {
              text-align: center;
              max-width: 400px;
              margin: 0 auto;
            }
            p {
              margin: 20px auto 0;
            }
            .download {
              margin-top: 30px;
            }
            form {
              width: 60%;
              display: block;
              margin: 0 auto 30px;
            }
          }
          .mobiles {
            margin-top: 150px;
            padding-bottom: 60px;
            img {
              &.mobile-left {
                top: 0%;
                left: 15%;
                max-width: 200px;
              }
              &.mobile-right {
                left: 10%;
                top: -25px;
                max-width: 280px;
              }
            }
          }
          .col-lg-5 {
            order: -1;
          }
        }
      }
    }
  }
  #video {
    .volume {
      bottom: 25px;
      right: 25px;
    }
  }
  #approachable {
    padding: 80px 0;
    .content {
      h2,
      p {
        text-align: center;
      }
      p {
        max-width: 500px;
        margin: 20px auto 0;
      }
      .button {
        margin: 30px auto 0;
      }
    }
  }
  #features {
    .row {
      .content {
        text-align: center;
        padding-top: 20px;
        img {
          margin-left: 0;
        }
        h4,
        p {
          text-align: center !important;
          padding: 0;
          margin: 0 auto;
        }
        hr {
          width: 100%;
        }
        &.middle {
          margin: 0 auto;
          h4,
          p {
            text-align: center !important;
            padding: 0;
            margin: 0 auto;
            max-width: 550px;
          }
        }
      }
      .col-mobile {
        text-align: center !important;
        .mobile-desktop {
          max-width: 200px;
        }
      }
    }
    .row#feature-2 {
      .col-md-4 {
        order: -1;
      }
    }
  }
  .social-box {
    justify-content: center;
  }
  #transparency {
    padding: 80px 0;
    .content {
      h1 {
        text-align: center;
      }
      p {
        margin: 0 auto;
        text-align: center;
      }
      .button {
        margin: 20px auto 0;
      }
    }
  }
  #team {
    .container {
      .col-6 {
        padding: inherit;
        margin: 0;
      }
    }
  }
  #pre-footer {
    #carouselExampleCaptions {
      min-height: 440px;
    }
  }
}
@media (max-width: 575px) {
  #hero {
    &.hero-homepage {
      background-image: url(../images/homepage/hero-mobile-bg.png);
      min-height: 100vh;
      height: auto;
      .container {
        .row-hero {
          .content {
            transform: translateX(0);
            opacity: 1;
            .row-logo {
              img {
                transform: translateX(0);
                opacity: 1;
              }
            }
            // img {
            //   &.both-mobiles {
            //     display: block;
            //     width: 100%;
            //     margin: 30px auto 0;
            //   }
            // }
            .download {
              a {
                img {
                  max-width: 160px;
                }
              }
            }
          }
          .mobiles {
            padding-top: 120px;
            padding-bottom: 0;
            img {
              &.mobile-left {
                left: 5%;
              }
              &.mobile-right {
                left: 20%;
                top: -155px;
              }
            }
          }
        }
      }
    }
  }
  #approachable {
    background-position: right;
    .sport-left,
    .sport-right,
    .sport-top,
    .sport-bottom {
      display: none;
    }
  }
  #transparency {
    .circle-bg {
      max-width: 800px;
      width: 500px;
    }
  }
  #features {
    .row {
      margin-bottom: 40px;
    }
  }
  #team {
    padding: 60px 0 30px;
    .container {
      .col-6 {
        .profile {
          margin-bottom: 50px;
          .box-image {
            img {
              max-width: 120px;
            }
          }
          .name {
            font-size: 18px;
            line-height: 24px;
          }
          .role {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
  // TEAM PAGE
  #advisors {
    .container {
      .tab-box {
        #menuTabs {
          background-image: none;
          .nav-item {
            width: 25%;
            margin: 0 10px 15px;
            .nav-link {
              &.active {
                img {
                  transform: scale(1);
                }
                &:after {
                  transform: scale(0.9);
                }
              }
            }
          }
        }
      }
      .tab-content {
        .tab-info {
          margin-top: 0;
          .name,
          .description {
            text-align: center;
          }
        }
      }
    }
  }
  #pre-footer {
    .video-slider {
      padding: 0 30px;
    }
    .carousel-control-prev {
      left: -50px;
    }
    .carousel-control-next {
      right: -50px;
    }
    .video-cover {
      iframe {
        height: 260px;
      }
    }
    #carouselExampleCaptions .carousel-inner .carousel-item .content .title {
      font-size: 24px;
      line-height: 30px;
    }
  }
  #sb-site {
    &.job-position {
      #job-description {
        .body-description {
          ul {
            li {
              font-size: 16px;
              line-height: 23px;
            }
          }
          p {
            font-size: 16px;
            line-height: 23px;
          }
        }
        .button-row {
          padding-bottom: 0;
        }
      }
    }
  }
  #footer {
    .contact {
      border-top: 1px solid #2d3c5b;
      padding-top: 40px;
      div:first-child {
        justify-content: center;
        h3 {
          width: 100%;
        }
      }
      .links {
        display: none;
        a {
          margin: 15px 0;
          text-align: center;
        }
      }
    }
    .links-mobile {
      text-align: center;
      max-width: 260px;
      margin: 0 auto 35px;
      a {
        color: $orange;
        font-size: 13px;
        line-height: 20px;
        margin: 0 10px;
      }
    }
  }

  // ABOUT PAGE
  #hero {
    &.hero-about {
      background-image: url(../images/about/hero-about-mobile-bg.jpg);
      padding: 140px 0 100px;
    }
  }

  // TEAM PAGE
  #hero {
    &.hero-team {
      background-image: url(../images/team/hero-team-mobile-bg.jpg);
      padding: 140px 0 100px;
    }
  }
}
@media (max-width: 425px) {
  #hero {
    &.hero-homepage {
      min-height: auto;
      .container {
        min-height: auto;
        .row-logo {
          img {
            max-width: 150px;
          }
        }
        .row-hero {
          .content {
            padding-top: 20px;
            padding-bottom: 20px;
            h1 {
              font-size: 47px;
              line-height: 45px;
            }
            p {
              padding: 0;
            }
            form {
              width: 70%;
            }
          }
          .mobiles {
            img {
              &.mobile-left {
                left: 7%;
                max-width: 170px;
                top: 5%;
              }
              &.mobile-right {
                left: 15%;
                top: -120px;
                max-width: 240px;
              }
            }
          }
        }
      }
    }
  }
  #video {
    .volume {
      bottom: 25px;
      right: 20px;
      width: 20px;
      height: 20px;
    }
  }

  #approachable {
    .sport-top {
      top: -9%;
    }
    .sport-bottom {
      bottom: -7%;
    }
  }
  #advisors {
    padding: 60px 0 80px;
    .container {
      h2 {
        padding: 0 30px;
      }
    }
  }
  #join-the-team {
    .positions {
      .position {
        padding: 14px 20px;
        h4 {
          font-size: 20px;
        }
      }
    }
  }
  #pre-footer {
    .video-cover {
      iframe {
        height: 208px;
      }
    }
    .description-video {
      p {
        font-size: 13px;
        line-height: 17px;
      }
    }
    #carouselExampleCaptions {
      min-height: 380px;
    }
  }
  #footer {
    padding: 30px 0 70px;
    .content {
      .title-form {
        margin-bottom: 30px;
      }
      form {
        min-width: 300px;
        #email {
          &::placeholder {
            font-size: 12px;
          }
        }
      }
    }

    .provide-by {
      flex-direction: column;
      img {
        margin: 0;
      }
    }
  }
}
@media (max-width: 375px) {
  #hero {
    &.hero-homepage {
      .container {
        .row-hero {
          .content {
            form {
              width: 90%;
            }
          }
          .mobiles {
            img {
              &.mobile-left {
                left: 0%;
              }
              &.mobile-right {
                left: 13%;
              }
            }
          }
        }
      }
    }
  }
  #approachable {
    padding: 60px 0 150px;
  }
  #join-the-team {
    .positions {
      .position {
        padding: 10px 14px;
        h4 {
          font-size: 17px;
        }
      }
    }
  }
  #pre-footer {
    .video-cover {
      iframe {
        height: 170px;
      }
    }
  }
}
