@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*** COLORS ***/
$black: #000000;
$light: #ffffff;
$dark: #000e2b;
$dark-blue: #042156;
$orange: #fa4919;
$new-darkblue: #001b60;
$darkblue: #001035;
$yellow: #9BFF92;
$lightblue: #E7F0F8;
$middle-blue: #A68EFF;

// FILES
@import './lib/bootstrap.min.scss';
@import './lib/animate.scss';
@import './lib/slidebars.scss';
@import './partials/utils.scss';
@import './partials/home.scss';
@import './partials/contact.scss';
@import './partials/case-studies.scss';
@import './partials/about.scss';
@import './partials/careers.scss';
@import './partials/faqs.scss';
@import './partials/press.scss';
@import './partials/products.scss';
@import './partials/categories.scss';
@import './partials/globals.scss';

/*** RESET & BUTTONS ***/ 
* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $dark-blue;
  background-color: $black;
  &.hidde {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 1200px){
  .container {
      max-width: 1240px;
  }
}

img {
  width: 100%;
}
a {
  cursor: pointer;
  outline: none;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
  &:hover {
    text-decoration: underline;
    color: inherit;
  }
  &.tertiary {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    box-shadow: none;
    position: relative;
    color: $light;
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: -15px;
      top: 15px;
      width: 17px;
      height: 9px;
      background-image: url(../images/arrow-btn.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.button {
  min-width: 170px;
  display: inline-block;
  text-align: center;
  padding: 11px 32px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 10px;
  color: $black;
  background: $yellow;
  border: 2px solid $yellow;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.35s all ease-in-out;
  &:hover {
    color: $yellow;
    background: #263037;
    border-color: #263037;
    text-decoration: none;
  }
  &.small{
    min-width: auto;
  }
  &:focus {
    outline: none;
  }
  &.secondary {
    background-color: #3978E0;
    color: $light; 
    border-color: #3978E0;
    &:hover {
      background-color: $yellow;
      border-color: $yellow;
      color: #2D2B81;
    }
    &.yellow {
      background-color: #E0E154;
      border-color: #E0E154;
      color: black;
      transition: 0.35s all ease-in-out;
      &:hover {
          color: #E0E154;
          background: transparent;
          border-color: #E0E154;
      }
    }
  }
  &.outline {
    font-family: 'Inter', sans-serif;
    color: $black;
    border: 2px solid $black;
    background: #ffff;
    &:hover {
      background-color: $yellow;
      border-color: $yellow;
    }
    &.white {
      color: $light;
      border-color: $light;
      background-color: transparent;
      &:hover {
        color: $yellow;
        background-color: #263037;
        border-color: #263037;
      }
    }
    &.black {
      color: $black;
      border-color: $black;
      background-color: transparent;
      &:hover {
        color: $yellow;
        background-color: #263037;
        border-color: #263037;
      }
    }
  }
  &.underline{
    padding: 0;
    background-color: initial;
    border: 0;
    border-radius: 0;
    min-width: auto;
    border-bottom: 2px solid $black;
    &:hover{
      color: $new-darkblue;
      border-color: $new-darkblue;
    }
  }
}

a {
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.divider {
  border-top: 2px solid $orange;
}

.social-box {
  display: flex;
  align-items: center;
  img {
    margin: 0 15px;
    max-width: 20px;
    &.facebook {
      max-width: 9px;
    }
    &.youtube {
      max-width: 24px;
      margin-right: 0;
    }
    &.linkedin {
      margin-left: 0;
    }
  }
}

/****************** CONTENTS ******************/
@media (max-width: 991px) {
  .klaviyo-form-UkuPaY {
    display: none;
  }
  
}

// Responsible Gaming Policy
#sb-site {
  &.privacy-policy,
  &.terms-of-service,
  &.responsible-gaming {
    background-color: #fff;
    #policy-content {
      padding: 100px 0 80px;
      .content {
        .effective-date {
          margin-bottom: 40px;
        }
        h2 {
          text-align: left;
          margin-bottom: 20px;
          margin-top: 50px;
        }
        h3 {
          font-weight: 600;
          margin: 60px 0 30px;
          text-align: left;
        }
        h4 {
          text-align: left;
          margin: 40px 0 30px;
        }
        h5 {
          text-align: left;
          margin: 30px 0 10px;
        }
        h6 {
          text-align: left;
        }
        p {
          color: #263037;
          a {
            color: $black;
            text-decoration: underline;
            &:hover {
              color: #263037;
            }
          }
        }
        ul,
        ol {
          padding-left: 30px;
          li {
            font-size: 15px;
            line-height: 150%;
            margin: 14px 0;
            position: relative;
            color: #263037;
            ul,ol{
              margin-bottom: 30px;
              ul,ol{
                margin-bottom: 30px;
              }
            }
            &::marker {
              font-size: 12px;
              color: #263037;
              font-weight: 600;
            }
          }
          &.no-numbers{
            list-style: none;
          }
          &.is-letters{
            list-style-type: upper-alpha;
          }
        }
      }
      small{
        display: block;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 30px;
      }
      table{
        margin: 20px 0;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
        background: $black;
        padding: 0 5px;
        border-radius: 8px;
        thead{
          background: $yellow;
          th{
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-weight: 600;
            min-width: 160px;
            padding: 7px 10px;
            color: $black;
            &:first-child{
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }
            &:last-child{
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }
        }
        tbody{
          tr{
            background-color: $light;
            td{
              padding: 10px;
              font-size: 15px;
              line-height: 140%;
              color: #263037;
              ul, ol{
                padding-left: 10px;
                margin-bottom: 0 !important;
                li{
                  font-size: 15px !important;
                  line-height: 130% !important;
                  margin: 8px 0 !important;
                }
              }
              &:first-child{
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
              }
              &:last-child{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
              }
            }
            &:nth-child(odd){
              background: $lightblue;
            }
          }
        }
      }
      @media (max-width: 575px) {
        padding: 50px 0 50px;
        #hero {
          min-height: auto;
          height: auto;
          padding: 120px 0 70px;
        }
        .content {
          padding: 0 20px;
          ul,
          ol {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

////////// PROTECTED PAGE

.overlay-protect{
  position: absolute;
  inset: 0;
  background-color: $light;
  z-index: 99999;
}

#hero{
  &.is-protected-hero{
    padding: 160px 0 160px;
  }
}

#password-page{
  padding: 100px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $light;
  a{
    position: absolute;
    top: 4vw;
    img{
      max-width: 120px;
    }
  }
  .content-area{
    min-height: 400px;
    padding: 80px;
    background-color: $lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    form{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      position: relative;
      input[type="password"]{
        border-radius: 50px 0 0 50px;
        border: 0;
        outline: 0;
        box-shadow: none;
        padding: 8px 25px 9px;
        width: 100%;
      }
      input.button{
        min-width: 150px;
        border-radius: 0 50px 50px 0;
        cursor: pointer;
      }
      .error-message{
        color: $black;
        display: none;
        font-size: 13px;
        position: absolute;
        bottom: -35px;
        margin: 0;
      }
    }
  }
}

/****************** ANIMATIONS ******************/

@import './animations.scss';